
    .card{
        font-size: 1rem;
        .image{
            position: relative;
            overflow: hidden;
            height: 300px;
            width: 100%;
            margin-bottom: 2rem;
            img{
                position: absolute;
                width: 100%;
                height: 300px;
                object-fit: cover;
                left: 0;
                top: 0;
            }
        }
    }



@media (max-width: 768px){

    .card{
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
  
  }
