.hero-section{
    > .container{
        .inner{
            position: relative;
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0,0,0, .5);
                position: absolute;
                left: 0;
                top: 0;
            }
            .title{
                position: absolute;
                bottom: 3rem;
                left: 3rem;
                color: #ffffff;
            }
        }
    }
}
